# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\GitHub\azure-functions-dotnet-worker\extensions\Worker.Extensions.DurableTask\ codebase based on best match to current usage at 10/25/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]


#Style - qualification options

#prefer fields to be prefaced with this. in C# or Me. in Visual Basic
dotnet_style_qualification_for_field = true:warning
#prefer methods to be prefaced with this. in C# or Me. in Visual Basic
dotnet_style_qualification_for_method = true:warning
#prefer properties to be prefaced with this. in C# or Me. in Visual Basic
dotnet_style_qualification_for_property = true:warning
